.LicenciasContent {
    display: flex; /* Usamos flexbox para alinear los elementos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten a nuevas filas si es necesario */
    justify-content: space-between; /* Espaciado uniforme entre los elementos */
    gap: 20px; /* Espacio entre los elementos */
    padding: 5rem; /* Espaciado interno del contenedor */
}

.LicenciaGercetur,
.InspeccionTecnica,
.FichaRuc,
.LicenciaFuncionamiento {
    flex: 1 1 25%; 
    display: flex;
    flex-direction: column; /* Hace que los elementos dentro de cada div estén en columna */
    align-items: center; /* Centra el contenido */
    margin-bottom: 20px; /* Espaciado en la parte inferior */
}

.VistaDocument {
    width: 100%; /* Asegura que la imagen ocupe el 100% del ancho disponible en su contenedor */
    max-width: 300px; /* Limita el tamaño máximo de las imágenes */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin-bottom: 10px; /* Espaciado entre la imagen y el título */
}

.LicenciasContent p {
    text-align: center; /* Centra el texto */
    font-size: 1rem; /* Tamaño de fuente */
    margin-top: 10px; /* Margen superior para el texto */
}
.NosotrosRazon {
    background-color: #E5E5E5;
    padding-top: 1rem;
    padding-bottom: 1rem;
}