.principalTitle {
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}

.firstTitle {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    position: relative;
}

.firstTitle::after {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    width: 10%;
    height: 3px;
    background-color: #FDC318;
    transform: translateX(-50%);
    border-radius: 15px;
}

.principalSubtitulo {
    font-size: 22px;
    color: #666;
    margin-top: 5px;
}

.IconTitle {
    font-size: 40px;
    color: #006D3B;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    max-width: 100%;
    padding: 2.5rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 550px;
    /* Altura de la card */
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
    margin-bottom: 15px;
}

.imageContainer {
    width: 100%;
    height: 100%;
    /* Cambiado a 100% para ocupar todo el alto de la card */
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.cardImage {
    width: 100%;
    height: 100%;
    /* Asegura que la imagen ocupe todo el contenedor */
    object-fit: cover;
    /* Mantiene la proporción de la imagen */
}

.iconOverlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cardText {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.cardTextContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-bottom: 15px;
}

.CardDetailsFinal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.CardDetailsLista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    font-size: 14px;
}

.card:hover {
    transform: scale(1.03);
}

.CardDetails {
    text-align: left;
}

.CardDetails>h4 {
    font-size: 16px;
    color: #333;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.CardDetailsIcon {
    font-size: 18px;
    margin-right: 0.5rem;
    color: #006D3B;
}

.iconContainer {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}

.price {
    font-size: 14px;
    color: #333;
    font-weight: 300;
    margin: 0;
}

.IconCard {
    font-size: 26px;
    color: #683C10;
}

.cardButton {
    all: unset;
    width: fit-content;
    margin-left: auto;
}

.cardButton>a {
    display: inline-block;
    background-color: #006D3B;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 50px;
    font-size: 10px;
}

.cardButton>a:hover {
    background-color: #683C10;
    text-decoration: none;
}

.endContent {
    display: flex;
    justify-content: center;
    align-items: center;
}