.googleContainer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.googleTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
}

.googletituloIcon {
    font-size: 2.5rem;
}

.googleTituloTexto {
    font-size: 20px;
    position: relative;
    text-align: center;
}

.googleTituloTexto::before {
    content: "";
    display: block;
    width: 40%;
    /* Ajusta el ancho de la línea */
    height: 3px;
    /* Ajusta el grosor de la línea */
    background-color: #FDC318;
    /* Color de la línea */
    margin: 0 auto 20px;
    /* Centra la línea y ajusta la separación */
    border-radius: 10px;
}


.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.3s ease-in-out;
    width: 70%;
    position: relative;
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin-bottom: 8px;
}

.headerTitulo {
    padding: 0;
    margin: 0;
}

.headerTitulo>h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.headerTitulo>p {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
    font-size: 14px;
}

.googleIcon {
    font-size: 30px;
}

.ControlIcons {
    font-size: 24px;
    color: #fff;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 270px;
    height: 350px;
    /* Ajustamos el ancho de las tarjetas */
    padding: 25px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    /* Espacio entre tarjetas */
    transition: height 0.3s ease;
    overflow: hidden;
}

.review.expanded {
    height: auto;
    /* Permitir que el contenedor se expanda */
}

.reviewEncabezado {
    display: flex;
    flex-direction: column;
    justify-items: left;
    padding: 0;
    margin: 0;
    text-align: left;
}

button {
    background-color: #006D3B;
    color: white;
    border: none;
    padding: 8px 12px;
    /* Reducimos el tamaño del botón */
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
    height: auto;
}

.ControlIcons {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
}

.prev {
    position: absolute;
    width: 60px;
    left: 150px;
    border-radius: 10px;
}

.next {
    position: absolute;
    right: 150px;
    width: 60px;
    border-radius: 10px;
}

.rating {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 10px;
    width: 100%;
}

.star {
    color: gold;
    font-size: 1.2rem;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    line-height: 24px;
    height: auto;
    margin-bottom: 8px;
    font-size: 14px;
}

.review.expanded {
    height: auto;
    /* Ajusta automáticamente la altura cuando se expande */
}

.review.expanded .text {
    -webkit-line-clamp: unset;
    height: max-content;
}

.expandButton {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    margin-top: auto;
    align-self: flex-start;
}

@media (max-width: 1024px) {

    .prev {
        width: 40px;
        left: 30px;
        border-radius: 10px;
    }

    .next {
        right: 30px;
        width: 40px;
        border-radius: 10px;
    }

    .reviews {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .reviews {
        width: 90%;
        /* Ajusta el ancho del carrusel en pantallas pequeñas */
    }

    .review {
        width: 200px;
        /* Disminuye el ancho de cada tarjeta */
        margin-right: 10px;
        /* Ajusta el margen entre tarjetas */
    }

    .prev {
        display: none;
    }

    .next {
        display: none;
    }

    .headerTitulo {
        font-size: 12px;
    }

    .header>img {
        display: none;
    }

    .rating {
        width: 80%;
    }

    .text {
        font-size: 12px;
    }
}

/* Estilos para pantallas muy pequeñas */
@media (max-width: 480px) {
    .reviews {
        width: 100%;
        /* Ancho completo en móviles */
    }

    .review {
        width: 150px;
        /* Aún más pequeño para dispositivos móviles */
        margin-right: 5px;
        /* Reduce el margen */
    }

    /* Opcional: Ajustar el padding en la tarjeta */
    .review {
        padding: 15px;
        /* Reduce el padding para ajustar el contenido */
    }

    .prev {
        display: none;
    }

    .next {
        display: none;
    }
}