.Important {
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 40px;
}

.ImportantTitulo {
    color: #006D3B;
    font-size: 18px;
}

.ImportantLine {
    display: flex;
    align-items: flex-start;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 30px;
    font-family: "poppins", sans-serif;
}

.ImportantLine svg {
    font-size: 18px;
    /* Tamaño fijo para el ícono */
    margin-right: 10px;
    margin-top: 3px;
    flex-shrink: 0;
    /* Evita que el ícono se reduzca */
}

.ImportantLine span {
    flex-grow: 1;
    /* Hace que el texto ocupe el espacio restante */
}